* { box-sizing: border-box;}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center bottom;
}

.board {
  display: grid;
  gap: 2px;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 10px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 128, 0);
  font-size: 1em;
  text-shadow: #000 1px 1px 2px;
}

.square:hover { 
  cursor: pointer;
/*   background-color: rgb(0, 128, 0, 0.5); */
}


.disabled:hover { background-color: rgb(0, 128, 0); }

.valid:hover { 
  cursor: pointer;
  background-color: rgb(0, 128, 0, 0.5);
}

.black { color: #000; font-size: 5em;}
.white { color: #fff; font-size: 5em;}