:root {
  --square-size: 50px
}
* { box-sizing: border-box;}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(145deg,  #fff 0%,#fff 50%,#000 50%,#000 100%);
}

.board {
  display: grid;
  gap: 2px;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 10px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  outline: 2px solid #fff;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--square-size);
  height: var(--square-size);
  background-color: rgb(0, 128, 0);
}

.square:hover { 
  cursor: pointer;
/*   background-color: rgb(0, 128, 0, 0.5); */
}


.disabled:hover { background-color: rgb(0, 128, 0); }

.valid:hover { 
  cursor: pointer;
  background-color: rgb(0, 128, 0, 0.5);
}

.black, .white {
  border-radius: 50%;
  height: calc(var(--square-size) - 10px);
  width: calc(var(--square-size) - 10px);
  box-shadow: #000 1px 1px 3px;
}

.black {
  background-color: #000;
  background: radial-gradient(#333, #000)
}

.white {
  background-color: #fff;
    background: radial-gradient(#fff, #aaa)
}

.whos-turn {text-transform: capitalize;}

body#landing-page { background: #fff;}
