* { box-sizing: border-box;}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(145deg,  #fff 0%,#fff 50%,#000 50%,#000 100%);
}

.board {
  display: grid;
  gap: 2px;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 10px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  outline: 2px solid #fff;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 128, 0);
  font-size: 1em;
  text-shadow: #000 1px 1px 2px;
}

.square:hover { 
  cursor: pointer;
/*   background-color: rgb(0, 128, 0, 0.5); */
}


.disabled:hover { background-color: rgb(0, 128, 0); }

.valid:hover { 
  cursor: pointer;
  background-color: rgb(0, 128, 0, 0.5);
}

.black { color: #000; font-size: 5em;}
.white { color: #fff; font-size: 5em;}

.whos-turn {text-transform: capitalize;}